@import "tailwindcss";

@layer base {
  :root {
    --background: #F0F5F2; 
    --foreground: #000000; /* PRETO TOTAL */
  }

  .dark {
    --background: #0A140E;
    --foreground: #ECFDF5;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground) !important; /* !important garante que o preto vença o branco */
  transition: background-color 0.4s ease;
}

/* Forçamos que todo texto no modo claro seja preto, a menos que seja dark mode */
h1, h2, h3, h4, p, span, a {
  color: #000000;
}

.dark h1, .dark h2, .dark h3, .dark h4, .dark p, .dark span, .dark a {
  color: #ECFDF5;
}